<div class="div1">
     <h1 id="titulo">FLY ON</h1>
     <!--<img class="logo" src="/PAPLogo.png">-->
</div>
<div style="display: flex;column-gap: 20px;">
     <a class="btn botoes" href="/flyon/processo">
          Processos
     </a>
     <a  class="btn botoes" href="/flyon/proposta">
          Propostas
     </a>
     <a  class="btn botoes" href="/flyon/infovoo">
          InfoVoo
     </a>
     <a  class="btn botoes" href="/flyon/utilizadores">
          Utilizadores
     </a> 
</div>
<label id="nome">Diogo Cardoso - 2021/2022<br>Projeto de Aptidão Profissional</label>

<style>
     #nome
     {
          color: white;
          position: absolute;
          right: 0%;
          bottom: 0%;
          margin-bottom: 20px;
          margin-right: 20px;
          font-size: 20px;
     }

     a
     {
          width: 300px; 
          height: 100px;
          font-size: 52px !important;
     }
     .div1
     {
          display: flex;
          height: 65vh;
          width: 100vw;
          justify-content: center;
     }
     .logo
     {
          position: absolute !important;
          top: 25vh !important;
          max-height: 40vh !important;
     }
</style>